<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<!-- 设定 Spring 核心配置文件路径 [BEGIN] -->
	<!-- 设定 Spring 核心配置文件路径 [END] -->

	<!-- 配置监听器用于监听 Tomcat 启动，加载和启动 Spring 核心容器 [BEGIN] -->
	<!-- 配置监听器用于监听 Tomcat 启动，加载和启动 Spring 核心容器 [END] -->

	<!-- 配置 Spring MVC 核心 Servlet [BEGIN] -->
	<!-- 配置 Spring MVC 核心 Servlet [END] -->

	<!-- 配置 Spring MVC 提供的编码过滤器 [BEGIN] -->
	<!-- 配置 Spring MVC 提供的编码过滤器 [END] -->
</web-app>